<div class="contact-info pt-30">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <h3 class="title pb-30"> BEI FRAGEN RUND UMS HANDY KONTAKTIERT DEN SMARTPHONE DOC ELMSHORN </h3>
        </div>

        <div class="contact-icons col-lg-8 col-md-12 col-sm-12">

            <div class="single-contact-info contact-color-schedule mb-20 d-flex ">
                <div class="contact-info-icon">
                    <i class="lni lni-list"></i>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text"><b>Mo-Fr: </b><br>10.00-13.00UHR<br>14.00-18.00UHR<br><b>Sa: <br></b>10.00-14.00UHR</p>
                </div>
            </div>

            <div class="single-contact-info contact-color-3 mb-20 d-flex ">
                <div class="contact-info-icon">
                    <a href="tel:+4941212300485"> <i class="lni lni-phone"></i> </a>
                </div>
                <div class="contact-info-content media-body">
                    <a href="tel:+4941212300485" style="text-decoration: none;">
                        <p class="text"><b>04121 / 23 00 48 5</b></p>
                    </a>
                </div>
            </div>

            <div class="single-contact-info contact-color-2 mb-20 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.facebook.com/v2.8/plugins/error/confirm/like?iframe_referer=https%3A%2F%2Fsmartphonedoc.squarespace.com%2F&kid_directed_site=false&secure=true&plugin=like&return_params=%7B%22action%22%3A%22like%22%2C%22app_id%22%3A%22%22%2C%22channel%22%3A%22https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3950a1f6a39e5c%26domain%3Dsmartphonedoc.squarespace.com%26origin%3Dhttps%253A%252F%252Fsmartphonedoc.squarespace.com%252Ff346fbc5ae1a2d8%26relation%3Dparent.parent%22%2C%22container_width%22%3A%22800%22%2C%22href%22%3A%22https%3A%2F%2Fwww.facebook.com%2FSmartphoneDocElmshorn%2F%22%2C%22layout%22%3A%22button_count%22%2C%22locale%22%3A%22en_US%22%2C%22sdk%22%3A%22joey%22%2C%22share%22%3A%22true%22%2C%22show_faces%22%3A%22true%22%2C%22size%22%3A%22large%22%2C%22ret%22%3A%22sentry%22%2C%22act%22%3A%22like%22%7D"
                        target="_blank"><i class="fa fa-thumbs-up"></i></a>
                </div>
                <div class="contact-info-content media-body">
                    <a href="https://www.facebook.com/v2.8/plugins/error/confirm/like?iframe_referer=https%3A%2F%2Fsmartphonedoc.squarespace.com%2F&kid_directed_site=false&secure=true&plugin=like&return_params=%7B%22action%22%3A%22like%22%2C%22app_id%22%3A%22%22%2C%22channel%22%3A%22https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3950a1f6a39e5c%26domain%3Dsmartphonedoc.squarespace.com%26origin%3Dhttps%253A%252F%252Fsmartphonedoc.squarespace.com%252Ff346fbc5ae1a2d8%26relation%3Dparent.parent%22%2C%22container_width%22%3A%22800%22%2C%22href%22%3A%22https%3A%2F%2Fwww.facebook.com%2FSmartphoneDocElmshorn%2F%22%2C%22layout%22%3A%22button_count%22%2C%22locale%22%3A%22en_US%22%2C%22sdk%22%3A%22joey%22%2C%22share%22%3A%22true%22%2C%22show_faces%22%3A%22true%22%2C%22size%22%3A%22large%22%2C%22ret%22%3A%22sentry%22%2C%22act%22%3A%22like%22%7D"
                        style="text-decoration: none;" target="_blank">
                        <p class="text">
                            <b>Wie Smartphone<br>Doc-Elmshorn Page</b>
                        </p>
                    </a>
                </div>
            </div>

            <div class="single-contact-info contact-color-2 mb-20 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSmartphoneDocElmshorn%2F&display=popup&ref=plugin&src=like&kid_directed_site=0" target="_blank"> <i class="fa fa-share"></i></a>
                </div>
                <div class="contact-info-content media-body">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSmartphoneDocElmshorn%2F&display=popup&ref=plugin&src=like&kid_directed_site=0" style="text-decoration: none;" target="_blank">
                        <p class="text"><b>Smartphone Doc<br>Elmshorn<br>Auf Facebook teilen</b></p>
                    </a>
                </div>
            </div>

            <!-- <div class="single-contact-info contact-color-2 mb-20 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.facebook.com/SmartphoneDocElmshorn/" target="_blank"> <i class="lni lni-facebook"></i></a>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text">Smartphone Doc <br> Elmshorn</p>
                </div>
            </div> -->

            <div class="single-contact-info contact-color-1 mb-20 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.instagram.com/smartphone_doc/" target="_blank">
                        <i class="lni lni-instagram"></i>
                    </a>
                </div>
                <div class="contact-info-content media-body">
                    <p style="margin-bottom: 0 !important;">Inhaber:<br></p>
                    <a href="https://www.instagram.com/smartphone_doc/" target="_blank" style="text-decoration: none;">
                        <p class="text"><b>Adnan CHAFI</b></p>
                    </a>
                </div>
            </div>

            <div class="single-contact-info contact-color-1 mb-20 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.google.com/maps/place/Marktstra%C3%9Fe+2,+25335+Elmshorn,+Germany/@53.753429,9.651797,14z/data=!4m5!3m4!1s0x47b3d42777f48097:0xf381b2b77dcf8176!8m2!3d53.7534294!4d9.6517971?hl=en" target="_blank">
                        <i class="lni lni-map-marker"></i>
                    </a>
                </div>
                <div class="contact-info-content media-body">
                    <a href="https://www.google.com/maps/place/Marktstra%C3%9Fe+2,+25335+Elmshorn,+Germany/@53.753429,9.651797,14z/data=!4m5!3m4!1s0x47b3d42777f48097:0xf381b2b77dcf8176!8m2!3d53.7534294!4d9.6517971?hl=en" style="text-decoration: none;" target="_blank">
                        <p class="text"><b>Marktstraße 2<br>25335 Elmshorn,<br>Germany</b></p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>