<div class="contact-info pt-30">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-contact-info contact-color-1 mt-30 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.google.com/maps/place/Marktstra%C3%9Fe+2,+25335+Elmshorn,+Germany/@53.753429,9.651797,14z/data=!4m5!3m4!1s0x47b3d42777f48097:0xf381b2b77dcf8176!8m2!3d53.7534294!4d9.6517971?hl=en"> <i class="lni lni-map-marker"></i> </a>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text"> Marktstraße 2 <br>25335 Elmshorn, Germany</p>
                </div>
            </div>
            <!-- single contact info -->
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-contact-info contact-color-2 mt-30 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.facebook.com/SmartphoneDocElmshorn/"> <i class="lni lni-facebook"></i></a>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text">Smartphone Doc Elmshorn</p>
                </div>
            </div>
            <!-- single contact info -->
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-contact-info contact-color-3 mt-30 d-flex ">
                <div class="contact-info-icon">
                    <a href="tel:+4941212300485"> <i class="lni lni-phone"></i> </a>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text">+4941212300485</p>
                </div>
            </div>
            <!-- single contact info -->
        </div>
    </div>
    <!-- row -->
</div>