<section id="contact" class="contact-area">
    <div class="container">
        <app-contacttitle></app-contacttitle>
        <app-map></app-map>
        <app-contactinfo></app-contactinfo>
        <div class="row">
            <div class="col-lg-8">
                <app-sendemail></app-sendemail>
            </div>
            <div class="col-lg-4 pt-30">
                <p><b>IMPRESSUM</b></p>
                <p class="title" style="color: darkgray">
                    SMARTPHONEDOC ELMSHORN<br>
                    <b>Adnan Chafi</b> (Inhaber) <br>
                    <br> Marktstraße 2 <br> 25335 Elmshorn <br> Deutschland <br><br> Inhaltlich Verantwortlicher gemäß §55 Abs. 2 <br> RStV: Adnan Chafi
                    <br><br> Kt Nr.: 111 063 780 <br> BLZ: 221 500 00 Sparkasse Elmshorn <br> IBAN: DE 2215 0000 0111 0637 80 <br> BIC-/SWIFT-Code: N0LADE 21ELH <br> St.-Nr.: 13/093/02897 <br>
                    <br>
                    <a href="tel:+4941212300485" style="color: red;">✆ 04121 / 23 00 48 5</a>
                </p>
            </div>
        </div>
    </div>
</section>