<div class="col-lg-12">
    <div class="logo col-lg-6">
        <img src="assets/img/logo.png">
    </div>
</div>
<div class="col-lg-12">
    <nav>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu" style="font-weight: bold;">
            <li><a routerLink='/home' routerLinkActive="is-active">SMARTPHONEDOC-MOBIL</a></li>
            <li><a routerLink='/repartur'>REPARTUR</a></li>
            <li><a routerLink='/news'>NEWS</a></li>
            <li><a routerLink='/aboutus'>ABOUT US</a></li>
            <li><a routerLink='/kontakt'>KONTAKT</a></li>
        </ul>
    </nav>
</div>