<div class="col-lg-12">
    <div class="logo col-lg-6 col-md-12 col-sm-12">
        <img src="assets/img/logo.png">
    </div>
</div>
<div class="col-lg-12">
    <nav>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu" style="font-weight: bold;">
            <li><a routerLink='/home' routerLinkActive="is-active"><i class="fa fa-home"></i> SMARTPHONEDOC-MOBIL</a></li>
            <li><a routerLink='/repartur'><i class="fa fa-gear"></i> REPARTUR</a></li>
            <li><a routerLink='/news'><i class="fa fa-newspaper-o"></i> NEWS</a></li>
            <li><a routerLink='/aboutus'><i class="fa fa-users"></i> ABOUT US</a></li>
            <li><a routerLink='/kontakt'><i class="fa fa-envelope-square"></i> KONTAKT</a></li>
        </ul>
    </nav>
</div>