<app-subnavbar></app-subnavbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <article class="blog-card">
                <div class="blog-card__background">
                    <div class="card__background--wrapper">
                        <div class="card__background--main" style="background-image: url('../../../../../../../assets/img/Displaybruch_banner.png');">
                        </div>
                    </div>
                </div>
                <div class="blog-card__info">
                    <h4>DEIN TOUCHSCREEN IST BESCHÄDIGT?</h4>
                    <p>Ein Displaybruch ist noch kein Totalschaden, aber trotzdem nicht zu vernachlässigen. Die Deckscheibe eines modernen Mobiltelefons (z.B. iPhone, Samsung, HTC, Sony oder Nokia) liegt unmittelbar auf dem eigentlichen Display. Scharfe
                        brüchige Glaskanten eines zersplitterten Deckbildschirms dringen auf Dauer bis zum Display hindurch und richten dort irreparable Schäden an. Die Folge: Beide Komponenten müssen ersetzt werden und somit steigen die Reparaturkosten.
                        Deshalb sollte eine Displayreparatur nicht zu lange aufgeschoben werden. Gesprungene Bildschirme sehen also nicht nur s****** aus, sondern ziehen auch Folgeschäden und damit auch steigende Kosten nach sich. Frontscheiben können
                        leider nicht geflickt werden. Ein Handy ist nun mal kein Pkw. </p>
                    <img src='../../../../../../../assets/img/ZEITIcons.jpg'>
                    <p>Eine gute Nachricht haben wir allerdings doch. Unabhängig vom Schweregrad, reparieren wir beschädigte Touchscreens ambulant. Konkret heißt das, dass wir euch eine maximale Wartezeit von 2 Stunden anbieten können. Wer möchte, kann sich
                        während der Reparaturzeit auf unserer VIP-Wartecouch ausruhen und an einem Gratis-Wasser erfrischen.</p>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="h3">
    <h3>Der Smartphone Doc bietet den obigen Reparaturservice unter anderem für folgende Marken und Modelle an:</h3>
</div>
<app-accordion></app-accordion>