<app-subnavbar></app-subnavbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <article class="blog-card">
                <div class="blog-card__background">
                    <div class="card__background--wrapper">
                        <div class="card__background--main" style="background-image: url('../../../../../../../assets/img/Systemfehler_banner.png');">
                        </div>
                    </div>
                </div>
                <div class="blog-card__info">
                    <h4>SOFTWAREFEHLER</h4>
                    <p>
                        Unser Reparaturservice verfolgt ein ganzheitliches Behandlungskonzept. Aus diesem Grund konzentrieren wir uns neben äußeren Schäden auch auf Softwareprobleme deines Smartphones (z.B. iPhone, Samsung, Oneplus, Xiaomi, Google oder Huawei). Unsere bewährten
                        Reparaturverfahren helfen bei eingefrorenen Displays, permanent schwarzen Bildschirmen (Spontanausfälle) oder langen Ladezeiten. Für unseren Spezialisten spielt die Art deines Betriebssystem keine Rolle. Ob auf deinem Handy Android
                        oder IOS läuft - wir kurieren deine Softwareprobleme!</p>
                    <p>
                        <b>
                            VIREN | MALEWARE <br>
SYSTEMABSTÜRZE <br>
SPONTANAUSFÄLLE <br>
EINGEFRORENE BILDSCHIRME <br>
                        </b>
                    </p>
                    <p>Dank bester technischer Ausstattung können wir Software-Störungen gezielten analysieren und nach kurzer Reparaturzeit von nur wenigen Tagen vollständig beheben.
                        <br>In der Regel sind sämtliche Fehlermeldungen unmittelbar nach einer Systemwiederherstellung verschwunden. Sofern es die Umstände zulassen, bemühen wir uns stets den Erhalt deiner persönlichen Daten zu gewährleisten. </p>

                    <p>Solltest du weitere Fragen zu Softwarefehlern auf deinem Handy haben, dann fülle einfach unser Kontaktformular aus oder ruf uns direkt an (<a routerLink='/kontakt'>KONTAKT</a>).</p>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="h3">
    <h3>Die nachfolgenden Marken und Modelle wurden bisher am häufigsten in unsere Notaufnahme eingeliefert:</h3>
</div>
<app-accordion></app-accordion>