<div class="container" style="column-count: 4;">

    <div class="content_img">
        <a routerLink='/displaybruch'><img src="assets/img/BruchIcon.png" class="card-img-top"></a>
    </div>

    <div class="content_img">
        <a routerLink='/wasserschaden'><img src="assets/img/WasserschadenIcon.png" class="card-img-top"></a>
    </div>

    <div class="content_img">
        <a routerLink='/hardwareschaden'><img src="assets/img/hardwareschaden.png" class="card-img-top"></a>
    </div>

    <div class="content_img">
        <a routerLink='/systemfehler'><img src="assets/img/systemfehler.png" class="card-img-top"></a>
    </div>

</div>