<section id="gallery" style="margin-bottom: 1rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <a routerLink='/displaybruch'>
                        <img src="assets/img/BruchIcon.png" alt="" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">DISPLYABRUCH</h5>
                        <p class="card-text">Hast du ’nen <br>Sprung?</p>
                        <a routerLink='/displaybruch' class="btn btn-outline-success btn-sm">weiterlesen</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <a routerLink='/wasserschaden'>
                        <img src="assets/img/WasserschadenIcon.png" alt="" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">WASSERSCHADEN</h5>
                        <p class="card-text">Tipps Bei <br>Wasserschäden</p>
                        <a routerLink='/wasserschaden' class="btn btn-outline-success btn-sm">weiterlesen</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <a routerLink='/hardwareschaden'>
                        <img src="assets/img/hardwareschaden.png" alt="" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">HARDWARESCHADEN</h5>
                        <p class="card-text">Selbst Die Allerhärtesten Fälle Kommen Zu Uns</p>
                        <a routerLink='/hardwareschaden' class="btn btn-outline-success btn-sm">weiterlesen</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <a routerLink='/systemfehler'>
                        <img src="assets/img/systemfehler.png" alt="" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">SYSTEMFEHLER</h5>
                        <p class="card-text">Viren, Systemabstürze<br>Spontanausfälle
                        </p>
                        <a routerLink='/systemfehler' class="btn btn-outline-success btn-sm">weiterlesen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>