<div id="accordion" class="accordion-mod">
    <div class="card">
        <div class="card-header" id="heading-apple">
            <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-apple" aria-expanded="true" aria-controls="collapse-apple">
                    <i class="fa fa-apple"></i> APPLE
                </a>
            </h5>
        </div>
        <div id="collapse-apple" class="collapse show" data-parent="#accordion" aria-labelledby="heading-apple">
            <div class="card-body">
                <div id="accordion-iPHONE">
                    <div class="card">
                        <div class="card-header" id="heading-iPHONE">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-iPHONE" aria-expanded="false" aria-controls="collapse-iPHONE">
                                    <img src="https://img.icons8.com/android/24/4a90e2/iphone.png" /> iPhone
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-iPHONE" class="collapse" data-parent="#accordion-iPHONE" aria-labelledby="heading-iPHONE">
                            <div class="card-body columns">
                                <ol>
                                    <li> iPhone 4 </li>
                                    <li> iPhone 4S </li>
                                    <li> iPhone 5 </li>
                                    <li> iPhone 5S </li>
                                    <li> iPhone 5C </li>
                                    <li> iPhone 6 </li>
                                    <li> iPhone 6+ </li>
                                    <li> iPhone 6S </li>
                                    <li> iPhone 6S+ </li>
                                    <li> iPhone SE </li>
                                    <li> iPhone 7 </li>
                                    <li> iPhone 7+ </li>
                                    <li> iPhone 8 </li>
                                    <li> iPhone 8+ </li>
                                    <li> iPhone X </li>
                                    <li> iPhone XR </li>
                                    <li> iPhone XS </li>
                                    <li> iPhone XS Max </li>
                                    <li> iPhone 11 </li>
                                    <li> iPhone 11 Pro </li>
                                    <li> iPhone 11 Pro Max </li>
                                    <li> iPhone SE 2020 </li>
                                    <li> iPhone 12 </li>
                                    <li> iPhone 12 mini </li>
                                    <li> iPhone 12 Pro </li>
                                    <li> iPhone 12 Pro Max </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-iPad">
                    <div class="card">
                        <div class="card-header" id="heading-iPad">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-iPad" aria-expanded="false" aria-controls="collapse-iPad">
                                    <img src="https://img.icons8.com/android/24/4a90e2/ipad.png" /> iPad
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-iPad" class="collapse" data-parent="#accordion-iPad" aria-labelledby="heading-iPad">
                            <div class="card-body columns">
                                <ul>
                                    <li> Air 1 </li>
                                    <li> Air 2 </li>
                                    <li> Air 3 / 10.5 (2019) </li>
                                    <li> Air 4 (2020) </li>
                                    <li> Air 9.7 (2017) </li>
                                    <li> Air 9.7 (2018) </li>
                                    <li> iPad 7 10.2 (2019) </li>
                                    <li> iPad 8 10.2 (2020) </li>
                                    <li> Mini 1 </li>
                                    <li> Mini 2 </li>
                                    <li> Mini 3 </li>
                                    <li> Mini 4 </li>
                                    <li> Mini 5 </li>
                                    <li> Pro 12.9 Series 1 (2015) </li>
                                    <li> Pro 12.9 Series 2 (2017) </li>
                                    <li> Pro 12.9 Series 3 (2018) </li>
                                    <li> Pro 12.9 Series 4 (2020) </li>
                                    <li> Pro 9.7 (2016) </li>
                                    <li> Pro 10.5 (2017) </li>
                                    <li> Pro 11.0 (2018) </li>
                                    <li> Pro 11.0 (2020) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-Watches">
                    <div class="card">
                        <div class="card-header" id="heading-Watches">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Watches" aria-expanded="false" aria-controls="collapse-Watches">
                                    <img src="https://img.icons8.com/material-rounded/24/4a90e2/apple-watch.png" /> Watches
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-Watches" class="collapse" data-parent="#accordion-Watches" aria-labelledby="heading-Watches">
                            <div class="card-body columns">
                                <ul>
                                    <li> Series 1 </li>
                                    <li> Series 2 </li>
                                    <li> Series 3 </li>
                                    <li> Series 4 </li>
                                    <li> Series 5 / SE </li>
                                    <li> Series 6 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-MacBook">
                    <div class="card">
                        <div class="card-header" id="heading-MacBook">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-MacBook" aria-expanded="false" aria-controls="collapse-MacBook">
                                    <img src="https://img.icons8.com/material-sharp/24/4a90e2/macbook-settings.png" /> MacBook
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-MacBook" class="collapse" data-parent="#accordion-MacBook" aria-labelledby="heading-MacBook">
                            <div class="card-body columns">
                                <ul>
                                    <li> Retina 12" </li>
                                    <li> Air 11" </li>
                                    <li> Air 13" </li>
                                    <li> Pro 13" </li>
                                    <li> Pro 15" </li>
                                    <li> Pro 16" </li>
                                    <li> iMac </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-samsung">
            <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-samsung" aria-expanded="false" aria-controls="collapse-samsung">
                    <img src="https://img.icons8.com/color/48/000000/samsung.png" /> SAMSUNG
                </a>
            </h5>
        </div>
        <div id="collapse-samsung" class="collapse" data-parent="#accordion" aria-labelledby="heading-samsung">
            <div class="card-body">
                <div id="accordion-S-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-S-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-S-Modelle" aria-expanded="false" aria-controls="collapse-S-Modelle">
                                    S-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-S-Modelle" class="collapse" data-parent="#accordion-S-Modelle" aria-labelledby="heading-S-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> S6 Edge </li>
                                    <li>S7 </li>
                                    <li>S8 </li>
                                    <li>S8 Plus </li>
                                    <li>S9 </li>
                                    <li>S9 Plus </li>
                                    <li>S10 </li>
                                    <li>S10 5G </li>
                                    <li>S10 Lite </li>
                                    <li>S10 Plus </li>
                                    <li>S10e </li>
                                    <li>S20 </li>
                                    <li>S20 5G </li>
                                    <li>S20 Plus </li>
                                    <li>S20 FE </li>
                                    <li>S20 Ultra </li>
                                    <li>S20 Plus 5G </li>
                                    <li>S20 Ultra 5G </li>
                                    <li>S21 5G </li>
                                    <li>S21 Plus 5G </li>
                                    <li>S21 Ultra 5G </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-J-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-J-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-J-Modelle" aria-expanded="false" aria-controls="collapse-J-Modelle">
                                    J-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-J-Modelle" class="collapse" data-parent="#accordion-J-Modelle" aria-labelledby="heading-J-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> J4 Plus </li>
                                    <li>J5 </li>
                                    <li>J6 </li>
                                    <li> J6 Plus </li>
                                    <li> J7 </li>
                                    <li> J8 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-M-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-M-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-M-Modelle" aria-expanded="false" aria-controls="collapse-M-Modelle">
                                    M-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-M-Modelle" class="collapse" data-parent="#accordion-M-Modelle" aria-labelledby="heading-M-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li>M20 </li>
                                    <li>M21 </li>
                                    <li>M30s </li>
                                    <li>M31</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-A-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-A-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-A-Modelle" aria-expanded="false" aria-controls="collapse-A-Modelle">
                                    A-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-A-Modelle" class="collapse" data-parent="#accordion-A-Modelle" aria-labelledby="heading-A-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> A5 2017 </li>
                                    <li> A6 </li>
                                    <li> A6 Plus </li>
                                    <li> A7 </li>
                                    <li> A8 </li>
                                    <li> A9 </li>
                                    <li> A10 </li>
                                    <li> A20e </li>
                                    <li> A21s </li>
                                    <li> A30s </li>
                                    <li> A40 </li>
                                    <li> A41 </li>
                                    <li> A50 </li>
                                    <li> A51 </li>
                                    <li> A70 </li>
                                    <li> A71 </li>
                                    <li> A80 </li>
                                    <li> A90 5G</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-Note-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Note-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Note-Modelle" aria-expanded="false" aria-controls="collapse-Note-Modelle">
                                    Note-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Note-Modelle" class="collapse" data-parent="#accordion-Note-Modelle" aria-labelledby="heading-Note-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li>Note 9 </li>
                                    <li>Note 10 </li>
                                    <li> Note 10 Plus </li>
                                    <li> Note 10 Plus 5G </li>
                                    <li> Note 10 Lite </li>
                                    <li> Tab Active SM-T365 </li>
                                    <li> Tab S3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-huawei">
            <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-huawei" aria-expanded="false" aria-controls="collapse-huawei">
                    <img src="https://img.icons8.com/windows/32/4a90e2/huawei-logo.png" /> HUAWEI
                </a>
            </h5>
        </div>
        <div id="collapse-huawei" class="collapse" data-parent="#accordion" aria-labelledby="heading-huawei">
            <div class="card-body">
                <div id="accordion-Y-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Y-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Y-Modelle" aria-expanded="false" aria-controls="collapse-Y-Modelle">
                                    Y-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Y-Modelle" class="collapse" data-parent="#accordion-Y-Modelle" aria-labelledby="heading-Y-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> Y5 2019 </li>
                                    <li> Y6 2018 </li>
                                    <li> Y7 2018 </li>
                                    <li> Y7 2019 </li>
                                    <li> Y6 2019 </li>
                                    <li> Y9 2018 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-P-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-P-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-P-Modelle" aria-expanded="false" aria-controls="collapse-P-Modelle">
                                    P-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-P-Modelle" class="collapse" data-parent="#accordion-P-Modelle" aria-labelledby="heading-P-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> P8 </li>
                                    <li> P9 </li>
                                    <li> P9 Lite </li>
                                    <li> P Smart Plus </li>
                                    <li> P Smart Z </li>
                                    <li> P Smart 2018 </li>
                                    <li> P Smart 2019 </li>
                                    <li> P Smart 2020 </li>
                                    <li> P Smart Pro </li>
                                    <li> P10 </li>
                                    <li> P10 Lite </li>
                                    <li> P10 Plus </li>
                                    <li> P20 </li>
                                    <li> P20 Lite </li>
                                    <li> P20 Pro </li>
                                    <li> P30 </li>
                                    <li> P30 Lite </li>
                                    <li> P30 Lite New Edition </li>
                                    <li> P30 Lite Global Edition </li>
                                    <li> P30 Pro </li>
                                    <li> P40 </li>
                                    <li> P40 Lite </li>
                                    <li> P40 Lite E </li>
                                    <li> P40 Lite 5G </li>
                                    <li> P40 Pro </li>
                                    <li> P40 Pro Plus </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-Mate-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Mate-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Mate-Modelle" aria-expanded="false" aria-controls="collapse-Mate-Modelle">
                                    Mate-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Mate-Modelle" class="collapse" data-parent="#accordion-Mate-Modelle" aria-labelledby="heading-Mate-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li>Mate 10 Lite </li>
                                    <li> Mate 10 Pro </li>
                                    <li> Mate 20 Lite </li>
                                    <li> Mate 20 </li>
                                    <li> Mate 20 Pro </li>
                                    <li> Mate 30 Pro </li>
                                    <li> Mate 40 Pro </li>
                                    <li> Mate XS</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-Google">
            <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Google" aria-expanded="false" aria-controls="collapse-Google">
                    <i class="fa fa-google"></i> GOOGLE
                </a>
            </h5>
        </div>
        <div id="collapse-Google" class="collapse" data-parent="#accordion" aria-labelledby="heading-Google">
            <div class="card-body columns">
                <ul>
                    <li> Pixel </li>
                    <li> Pixel XL </li>
                    <li> Pixel 2 </li>
                    <li> Pixel 2 XL </li>
                    <li> Pixel 3 </li>
                    <li> Pixel 3a </li>
                    <li> Pixel 3aXL </li>
                    <li> Pixel 3 XL </li>
                    <li> Pixel 4 </li>
                    <li> Pixel 4a </li>
                    <li> Pixel 4 XL </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-Microsoft">
            <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Microsoft" aria-expanded="false" aria-controls="collapse-Microsoft">
                    <i class="fa fa-windows"></i> MICROSOFT
                </a>
            </h5>
        </div>
        <div id="collapse-Microsoft" class="collapse" data-parent="#accordion" aria-labelledby="heading-Microsoft">
            <div class="card-body columns">
                <ul>
                    <li> Surface Laptop 1 </li>
                    <li> Surface Laptop 2 </li>
                    <li> Surface Laptop 3 </li>
                    <li> Surface 2 </li>
                    <li> Surface 3 </li>
                    <li> Surface Pro 3 </li>
                    <li> Surface Pro 4 </li>
                    <li> Surface Pro 5 </li>
                    <li> Surface Pro 6 </li>
                    <li> Surface Pro 7 </li>
                    <li> Surface Book 1 </li>
                    <li> Surface Book 2 </li>
                    <li> Surface Book 3 </li>
                    <li> Surface Go </li>
                    <li> Surface Go 2 </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-xiaomi">
            <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-xiaomi" aria-expanded="false" aria-controls="collapse-xiaomi">
                    XIAOMI
                </a>
            </h5>
        </div>
        <div id="collapse-xiaomi" class="collapse" data-parent="#accordion" aria-labelledby="heading-xiaomi">
            <div class="card-body">
                <div id="accordion-Mi-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Mi-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Mi-Modelle" aria-expanded="false" aria-controls="collapse-Mi-Modelle">
                                    Mi-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Mi-Modelle" class="collapse" data-parent="#accordion-Mi-Modelle" aria-labelledby="heading-Mi-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li>Mi A1 </li>
                                    <li>Mi A2 </li>
                                    <li>Mi A2 Lite </li>
                                    <li>Mi A3 </li>
                                    <li>Mi 8 </li>
                                    <li>Mi 9 Lite </li>
                                    <li>Mi 9 </li>
                                    <li>Mi 9 SE </li>
                                    <li>Mi 9T </li>
                                    <li>Mi 9T Pro </li>
                                    <li>Mi 10 </li>
                                    <li>Mi 10 Pro </li>
                                    <li>Mi Note 10 </li>
                                    <li>Mi Note 10 Pro </li>
                                    <li>Mi Note 10 Lite </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-Mix-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Mix-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Mix-Modelle" aria-expanded="false" aria-controls="collapse-Mix-Modelle">
                                    Mix-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Mix-Modelle" class="collapse" data-parent="#accordion-Mix-Modelle" aria-labelledby="heading-Mix-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> Xiaomi Mix 2 </li>
                                    <li> Xiaomi Mix 3 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-Redmi-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Redmi-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Redmi-Modelle" aria-expanded="false" aria-controls="collapse-Redmi-Modelle">
                                    Redmi-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Redmi-Modelle" class="collapse" data-parent="#accordion-Redmi-Modelle" aria-labelledby="heading-Redmi-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> Redmi 5 </li>
                                    <li> Redmi 5 Plus </li>
                                    <li> Redmi 6A </li>
                                    <li> Redmi 7 </li>
                                    <li> Redmi 7A </li>
                                    <li> Redmi Note 4X </li>
                                    <li> Redmi Note 5 </li>
                                    <li> Redmi Note 7 </li>
                                    <li> Redmi Note 8 </li>
                                    <li> Redmi Note 8T </li>
                                    <li> Redmi Note 8 Pro </li>
                                    <li> Redmi Note 9S </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion-Poco-Modelle">
                    <div class="card">
                        <div class="card-header" id="heading-Poco-Modelle">
                            <h5 class="mb-0">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Poco-Modelle" aria-expanded="false" aria-controls="collapse-Poco-Modelle">
                                    Poco-Modelle
                  </a>
                            </h5>
                        </div>
                        <div id="collapse-Poco-Modelle" class="collapse" data-parent="#accordion-Poco-Modelle" aria-labelledby="heading-Poco-Modelle">
                            <div class="card-body columns">
                                <ul>
                                    <li> Poco F1 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-Honor">
            <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Honor" aria-expanded="false" aria-controls="collapse-Honor">
                    HONOR
            </a>
            </h5>
        </div>
        <div id="collapse-Honor" class="collapse" data-parent="#accordion" aria-labelledby="heading-Honor">
            <div class="card-body columns">
                <ul>
                    <li> Honor 7 </li>
                    <li> Honor 7A </li>
                    <li> Honor 7S </li>
                    <li> Honor 7X </li>
                    <li> Honor 7 Lite </li>
                    <li> Honor 8A </li>
                    <li> Honor 8 Pro </li>
                    <li> Honor 9 </li>
                    <li> Honor 9 Lite </li>
                    <li> Honor lay</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-OnePlus">
            <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-OnePlus" aria-expanded="false" aria-controls="collapse-OnePlus">
                    OnePlus <i class="fa fa-oneplus"></i>
            </a>
            </h5>
        </div>
        <div id="collapse-OnePlus" class="collapse" data-parent="#accordion" aria-labelledby="heading-OnePlus">
            <div class="card-body columns">
                <ul>
                    <li> OnePlus 3 A3000 </li>
                    <li> OnePlus 3T A3010 </li>
                    <li> OnePlus 5 A5000 </li>
                    <li> OnePlus 5T A5010 </li>
                    <li> OnePlus 6 A6000 </li>
                    <li> OnePlus 6T A6010 </li>
                    <li> OnePlus 7 A7000 </li>
                    <li> OnePlus 7T A7010 </li>
                    <li> OnePlus 7 Pro </li>
                    <li> OnePlus 7T Pro </li>
                    <li> OnePlus 8 </li>
                    <li> OnePlus 8T </li>
                    <li> OnePlus 8 Pro </li>
                    <li> OnePlus Nord </li>
                    <li> OnePlus X </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-Oppo">
            <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-Oppo" aria-expanded="false" aria-controls="collapse-Oppo">
                    Oppo <i class="fa fa-oppo"></i>
            </a>
            </h5>
        </div>
        <div id="collapse-Oppo" class="collapse" data-parent="#accordion" aria-labelledby="heading-Oppo">
            <div class="card-body columns">
                <ul>
                    <li> Find X Serie </li>
                    <li> Reno Serie </li>
                    <li> A Serie </li>
                </ul>
            </div>
        </div>
    </div>

</div>