<section class="footer-area footer-dark">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center">
                <a routerLink='/DATENSCHUTZ'>DATENSCHUTZ</a>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                </ul>
                <span style="color: #fff;">Developped by <a href="https://www.linkedin.com/in/mhammad-al-ahmad-b17b76203/"  target="_blank">MA</a></span>
            </div>
        </div>
    </div>
</section>