<div class="container mod-card">
    <div class="card card-horizontal card-responsive">
        <img class="card-img-top" src="assets/img/display-newssection.jpg" alt="Card image cap">
        <div class="card-body">
            <h4>#coronalife</h4>
            <h3 class="card-title">Sehr geehrte Kunden,</h3>
            <div class="card-text">
                <p>
                    aufgrund der aktuellen Corona-Pandemie und der damit verbundenen Einschränkungen, bieten wir Ihnen ab sofort an, Ihr kaputtes Smartphone bei Ihnen zu Hause abzuholen. Nach erfolgreicher Reparatur liefern wir das Gerät wieder nach Hause. Der Abhol- und
                    Lieferservice ist in Elmshorn und naher Umgebung ohne Aufpreis. Rufen Sie uns unter <a href="tel:+4941212300485"> 04121 23 00 485 </a> an, um sich vorab über die Reparaturkosten für Ihr defektes Gerät zu informieren.
                    Vereinbaren Sie mit uns einen Abholtermin. Eine Abholung ist generell innerhald der Öffnungszeiten möglich. Bei Übergabe des reparierten Gerätes zahlen Sie die Rechnung für die Reparatur. Die Zahlung ist sowohl in bar als auch auf
                    Rechnung möglich.
                </p>
            </div>
        </div>
    </div>
</div>