h4 {
    margin-top: 0;
    font-family: "Open Sans";
}

.card.card-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
}

.card.card-horizontal .card-img-top {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
    max-width: 50%;
}

.card.card-horizontal .card-img-bottom {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    max-width: 50%;
}

@media (max-width: 991px) {
    .card.card-responsive.card-horizontal {
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
    }
    .card.card-responsive.card-horizontal .card-img-top {
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0;
        max-width: 100%;
    }
    .card.card-responsive.card-horizontal .card-img-bottom {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        max-width: 100%;
    }
}

.mod-card {
    box-shadow: 7px 10px 15px -1px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 7px 10px 23px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 7px 10px 23px -1px rgba(0, 0, 0, 0.46);
}