.sticky-social {
    position: fixed;
    top: 180px;
    z-index: 1100;
}

.social {
    list-style: none;
}

.social li {
    padding: 10px 10px;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.social li:hover {
    margin-right: -40px;
    box-shadow: 2px 5px 10px grey;
    opacity: 1;
}

.social li:hover .fa {
    margin-left: 20px;
    opacity: 1;
}

.fa {
    color: #fff;
    transition: all 0.7s ease-in-out;
}

.fb {
    background-color: #3C5A98;
}

.twitter {
    background-color: #1EA1F2;
}

.insta {
    background-color: #686868;
}

.phone {
    background-color: #00ff37;
}