<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sticky-social">
    <ul class="social">
        <li class="phone"><a href="tel:+4941212300485"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
        <li class="fb">
            <a href="https://www.facebook.com/v2.8/plugins/error/confirm/like?iframe_referer=https%3A%2F%2Fsmartphonedoc.squarespace.com%2F&kid_directed_site=false&secure=true&plugin=like&return_params=%7B%22action%22%3A%22like%22%2C%22app_id%22%3A%22%22%2C%22channel%22%3A%22https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3950a1f6a39e5c%26domain%3Dsmartphonedoc.squarespace.com%26origin%3Dhttps%253A%252F%252Fsmartphonedoc.squarespace.com%252Ff346fbc5ae1a2d8%26relation%3Dparent.parent%22%2C%22container_width%22%3A%22800%22%2C%22href%22%3A%22https%3A%2F%2Fwww.facebook.com%2FSmartphoneDocElmshorn%2F%22%2C%22layout%22%3A%22button_count%22%2C%22locale%22%3A%22en_US%22%2C%22sdk%22%3A%22joey%22%2C%22share%22%3A%22true%22%2C%22show_faces%22%3A%22true%22%2C%22size%22%3A%22large%22%2C%22ret%22%3A%22sentry%22%2C%22act%22%3A%22like%22%7D"
                target="_blank"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
        </li>
        <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSmartphoneDocElmshorn%2F&display=popup&ref=plugin&src=like&kid_directed_site=0" target="_blank"><i class="fa fa-share" aria-hidden="true"></i></a></li>
        <li class="insta"><a href="https://www.instagram.com/smartphone_doc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <!-- <li class="map"><a href="https://www.google.de/maps/place/Smartphone+Doc/@53.7534029,9.6496375,17z/data=!3m1!4b1!4m5!3m4!1s0x47b3d4279dad74d9:0x65539d1278902603!8m2!3d53.7534029!4d9.6518262?hl=en" target="_blank"><i class="fa fa-map-marker"  aria-hidden="true"></i></a></li> -->
    </ul>
</div>