<app-subnavbar></app-subnavbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <article class="blog-card">
                <div class="blog-card__background">
                    <div class="card__background--wrapper">
                        <div class="card__background--main" style="background-image: url('../../../../../../../assets/img/Hardwareschaden_banner.png');">
                        </div>
                    </div>
                </div>
                <div class="blog-card__info">
                    <h4>HARDWARE SCHÄDEN AN SMARTPHONES</h4>
                    <p>Täglich wird eine Vielzahl an defekten Handys mit unterschiedlichen Schäden in unsere Notaufnahme eingeliefert. In drei von vier Fällen lautet die Diagnose: Displaybruch. Die übrigen technischen Störungen fallen jedoch sehr vielfältig
                        aus.
                    </p>
                    <p>
                        Ursächlich für die zweithäufigsten Schäden an Smartphones sind Bedienungsfehler, welche beispielsweise beim Laden des Geräts zu Defekten an Anschlüssen führen können. Der Grund dafür ist meinst die Verbindung falscher Ladekabel mit der Ladebuchse.
                    </p>
                    <p>Die falsche Handhabung beim Laden kann sich auch auf die Funktionsfähigkeit deines Akkus auswirken. Nicht selten neigen Smartphonebesitzer-/innen dazu ihre Handys über Nacht zu laden oder häufige "Kurz-Ladungen" vorzunehmen. Das kann
                        dazu führen, dass das Gerät entweder schnell keine Energie mehr hat oder sich nicht mehr richtig aufladen lässt. Da sich in neueren Modellen die Akkus nicht ohne weiteres austauschen lassen und sich auch nicht jeder Akku als Ersatzteil
                        eignet, solltest du uns konsultieren. Wir beraten dich gern!</p>
                    <img src='../../../../../../../assets/img/datenrettung.jpg'>
                    <p>
                        Stumme Lautsprecher, kaputte Hörmuscheln sowie defekte Mikrofone sind mindestens ebenso häufig auftretende Störungen der Handy-Hardware, die meist durch Stürze oder anderweitige Einwirken physischer Gewalt entstanden sind.<br>                        Außerdem diagnostizieren wir vermehrt kaputte Lautstärkeregler, Ein- und Ausschaltknöpfe, Home-Buttons oder defekte Kopfhöreranschlüsse. Dabei können Staubverklebungen oder Verformungen eine entscheidende Rolle spielen. <br>Sollte
                        deine Kamera nicht funktionieren, so können wir auch hier Abhilfe leisten. Da diese häufig mit der Platine verbaut ist, verwenden wir für die Reparatur nur das modernste, technisches Equipment.<br>Bei besonders schweren Fällen
                        wie Platinenbrüchen oder defekten Prozessoren prüfen unsere Fachleute gern alle Möglichkeiten das Gerät zu retten.
                    </p>
                    <p>
                        Je nach Befund leiten wir entsprechende Sofortmaßnahmen ein. Manche Fälle müssen allerdings einige Tage auf unserer Intensivstation verarztet werden, ehe sie entlassen werden können.<br> Solltest du Fragen zu Schäden an deiner
                        Smartphone-Hardware haben, dann füll einfach unser Kontaktformular aus oder ruf uns direkt an. (<a routerLink='/kontakt'>KONTAKT</a>)
                    </p>

                </div>
            </article>
        </div>
    </div>
</div>
<div class="h3">
    <h3>Unsere Praxis hat viel Erfahrung mit Wasserschäden an folgenden Marken und Modellen:</h3>
</div>
<app-accordion></app-accordion>