<app-slider></app-slider>
<div class="block">
    <h1>DIE SCHNELLSTE SMARTPHONE REPARATUR IN DEINER UMGEBUNG</h1>
    <p>
        Seit 2012 verarzten wir erfolgreich die kleinen und großen Schäden, die an Smartphones oder Tables auftreten. Von einfachen Arbeiten wie dem Tausch eines gebrochenen Displays bis hin zu filigranen SMD-Lötarbeiten ist dein Gerät bei uns in kompetenten
        und erfahrenen Händen.<br> Sämtliche Servicedienstleistungen von der Fehleranalyse bis zur Behebung werden von unserem geschulten Personal in unserem Shop in Elmshorn vor Ort durchgeführt.<br><br> Alles, was zu retten ist, reparieren wir
        schnell und professionell zu einem fairen Preis.<br><br> Wir helfen gern!<br><b>Smartphone Doc </b>
    </p>
</div>

<app-news></app-news>
<app-infocard></app-infocard>

<div class="repartur-title container">
    <h2>PROBLEME MIT DEINEM SMARTPHONE?</h2>
    <app-repartur></app-repartur>
</div>

<section>
    <div id="contact" class="container">
        <app-sendemail></app-sendemail>
    </div>
</section>