@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-color: #fcfcfc;
}

.repartur-title {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: rgb(165, 165, 165) !important;
    font-weight: bold !important;
}

.block {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 50px;
}

.input-res {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 15px/1 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 500px;
    background-color: #ddd;
    border: none;
    padding: 10px 11px 11px 11px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
    .whoweare {
        margin: 1em;
    }
}

.whowearetext {
    font-size: 1.25em;
    font-style: karla;
}

.homeh1 {
    font-size: 2em;
    font-weight: 600;
}


/* @media only screen and (max-width: 450px) {
    .homeh1 {
        font-size: 1em;
    }
} */

.blog-author h3::before,
.blog-author--no-cover h3::before {
    background: url("../../../../assets/img/favicon.png");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: 0.5rem;
    position: relative;
    top: 8px;
    width: 32px;
}

.blog-author h3 {
    color: rgb(46, 45, 45);
    font-weight: 100;
}

.blog-author--no-cover h3 {
    color: #999;
    font-weight: 100;
}