<app-slider></app-slider>
<div class="block whoweare">
    <p class="homeh1">DIE SCHNELLSTE SMARTPHONE REPARATUR IN DEINER UMGEBUNG</p>
    <p class="whowearetext">
        Seit 2012 verarzten wir erfolgreich die kleinen und großen Schäden, die an Smartphones oder Tables auftreten. Von einfachen Arbeiten wie dem Tausch eines gebrochenen Displays bis hin zu filigranen SMD-Lötarbeiten ist dein Gerät bei uns in kompetenten
        und erfahrenen Händen.<br> Sämtliche Servicedienstleistungen von der Fehleranalyse bis zur Behebung werden von unserem geschulten Personal in unserem Shop in Elmshorn vor Ort durchgeführt.<br><br> Alles, was zu retten ist, reparieren wir
        schnell und professionell zu einem fairen Preis.<br><br> Wir helfen gern!
    </p>
    <div class="blog-author">
        <h3>SMARTPHONE-DOC</h3>
    </div>
</div>

<div class="contact-info pt-10 pb-15" style="display: flex ; justify-content: center;">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="single-contact-info contact-color-schedule mt-30 d-flex ">
                <div class="contact-info-icon">
                    <i class="lni lni-list"></i>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text"><b>Mo-Fr: </b><br>10.00-13.00UHR<br>14.00-18.00UHR<br><b>Sa: <br></b>10.00-14.00UHR</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-contact-info contact-color-REPARATURINFO mt-30 d-flex ">
                <div class="contact-info-icon">
                    <a routerLink='/repartur'><i class="lni lni-invention"></i></a>
                </div>
                <div class="contact-info-content media-body">
                    <a routerLink='/repartur'>
                        <p class="text"><b>REPARATURINFO</b></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-contact-info contact-color-3 mt-30 d-flex">
                <div class="contact-info-icon">
                    <a href="tel:+4941212300485">
                        <i class="lni lni-phone"></i>
                    </a>
                </div>
                <div class="contact-info-content media-body">
                    <a href="tel:+4941212300485">
                        <p class="text"><b>RUF UNS AN</b></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-contact-info contact-color-1 mt-30 d-flex ">
                <div class="contact-info-icon">
                    <a href="https://www.google.com/maps/place/Marktstra%C3%9Fe+2,+25335+Elmshorn,+Germany/@53.753429,9.651797,14z/data=!4m5!3m4!1s0x47b3d42777f48097:0xf381b2b77dcf8176!8m2!3d53.7534294!4d9.6517971?hl=en" target="_blank">
                        <i class="lni lni-map-marker"></i> </a>
                </div>
                <div class="contact-info-content media-body">
                    <p class="text">
                        <a href="https://www.google.com/maps/place/Marktstra%C3%9Fe+2,+25335+Elmshorn,+Germany/@53.753429,9.651797,14z/data=!4m5!3m4!1s0x47b3d42777f48097:0xf381b2b77dcf8176!8m2!3d53.7534294!4d9.6517971?hl=en" target="_blank">
                            <p class="text"><b>Marktstraße 2 <br>25335 Elmshorn, Germany</b></p>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="repartur-title container">
    <a>
        <h2>PROBLEME MIT DEINEM SMARTPHONE?</h2>
    </a>
    <app-repartur></app-repartur>
</div>
<br>
<section>
    <div id="contact" class="container">
        <app-sendemail></app-sendemail>
    </div>
</section>