<app-repartur></app-repartur>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="repartur-blog-title">Tipps Bei Wasserschäden</h2>
            <article class="blog-card">
                <div class="blog-card__background">
                    <div class="card__background--wrapper">
                        <div class="card__background--main"></div>
                    </div>
                </div>
                <div class="blog-card__info">
                    <h4>TIPPS BEI WASSER-SCHÄDEN</h4>
                    <p>Dein Handy ist ins Wasser gefallen? Es wurden Getränke auf deinem Smartphone verschüttet? Egal wie Flüssigkeiten in dein Handy (z.B. iPhone, Samsung, HTC, Sony oder Nokia) eindringen konnten, besteht akute Kurzschlussgefahr. Jetzt
                        ist schnelles Handeln geboten, denn umso früher auf Wasserschäden reagiert wird, desto besser stehen die Chancen für dein Handy. Das heißt: Lass alles stehen und liegen! Mach dich sofort auf den Weg zu uns! Vergiss deine Wohnungsschlüssel
                        nicht! Fahr nicht über Rot! Freu dich auf den Smartphone Doc!</p>
                    <p>
                        <b>Sofortmaßnahmen zur Ersten Hilfe</b>
                    </p>
                    <ol>
                        <li>Gerate nicht in Panik</li>
                        <li>Hör auf zu fluchen!</li>
                        <li>Entferne umgehend den Akku aus deinem Telefon!</li>
                        <li>Schließe es an keiner Stromquelle an!</li>
                        <li>Melde dich unverzüglich in bei uns (<a routerLink='/kontakt'>KONTAKT</a>) !</li>
                    </ol>
                    <img src='assets/img/AkkuRausIcon.png'>
                    <img src='assets/img/noRiceIcon.png'>
                    <img src='assets/img/foehnIcon.png'>
                    <p>
                        <b>KEINE REISPACKUNGEN - Sushi-Methode</b><br> Oftmals kommen Handy- und Smartphonebesitzer/-innen zu uns, die ihr Telefon in Reis einlegen, um das Gerät schnell zu entfeuchten. Durch derart radikale Maßnahmen bleiben aggressive
                        Kalkablagerungen auf der Platine zurück und fressen sich in das empfindliche Material.<br>Diagnose: Kalkfrass. <br>Handys sind keine Thunfische und wir machen kein Sushi.
                    </p>
                    <p>
                        <b>NICHT FÖHNEN - Friseur-Techniken</b><br> Moderne Geräte halten zwar höheren Temperaturen stand, doch kann die innere Elektronik Schaden nehmen. Klar, Wasser im Handy ist `ne haarige Sache. Aber nimm das jetzt nicht wörtlich!
                        Also, pack den Föhn wieder weg oder trockne dir die Haare damit.
                    </p>
                </div>
            </article>
        </div>
        <div class="accordion-title">
            <h3>Unsere Praxis hat viel Erfahrung mit Wasserschäden an folgenden Marken und Modellen:</h3>
        </div>
    </div>
</div>

<app-accordion></app-accordion>